@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";

.title-text, .four-suits {
  color: $light-blood-color;
  background: linear-gradient($light-blood-color 50%, $dark-blood-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 20px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.four-suits {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: transparent;
  padding: 0 5px;
  background: repeating-linear-gradient(
    45deg,
    $dark-blood-color,
    $light-blood-color 6px,
    $dark-blood-color 5px,
    $light-blood-color 9px
  );
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
}