<%= javascript_packs_with_chunks_tag 'playerStats' %>
<%= stylesheet_packs_with_chunks_tag 'playerStats' %>

<% content_for :head do %>
  <title>Player Stats | Tyche's Hand</title>
  <meta name='description' content="Customize your deck, optimize your tokens, plot your next round to beat the house. Easily sift through your collection and make the best decisions for your playstyle." />
<% end %>