@import "@stylesheets/variables";

.hover-buttons-container {
  bottom: 0;
  left: 20px;
  width: 35px;
  height: 35px;
  z-index: 100;

  &:hover {
    width: 80px;
    height: 80px;
  }
}

.main-button { 
  width: 35px;
  height: 35px;
  background: linear-gradient(45deg, $light-blood-color, $dark-blood-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  border: 2px solid $light-gold-color;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease, width 0.3s ease, background-color 0.3s ease;
  bottom: 0;
  left: 0;
  z-index: 10;

  &:hover {
    background: linear-gradient(45deg, $light-gold-color, $dark-gold-color);
    width: 80px;
    height: 80px;
  }
}

.hover-buttons {
  width: 0;
  height: 0;
  z-index: 5
}

a.child-button {
  text-align: center;
  display: flex;
  align-items: center;
}

.child-button {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
  width: 75px;
  height: 75px;
  background: linear-gradient(45deg, $light-gold-color, $dark-gold-color);
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fade-in 0.3s ease forwards;

  &:hover {
    background: linear-gradient(45deg, $light-blood-color, $dark-blood-color);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
