@import "@stylesheets/variables.scss";

.title-text, .four-suits {
  color: $light-blood-color;
  background: linear-gradient($light-blood-color 50%, $dark-blood-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 20px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.title-text::before,
.title-text::after {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}