@import "@stylesheets/variables.scss";

.input-field {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid $light-blood-color;
  border-radius: 8px;
  background-color: rgba(255, 71, 76, 0.2);
  color: #aaa;
  transition: all 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: $light-gold-color; /* Gold border on focus */
  box-shadow: 0 0 8px rgba(242, 169, 0, 0.5); /* Optional: subtle glow */
  background-color: rgba(255, 71, 76, 0.5); /* White background on focus */
}

.input-field::placeholder {
  color: #bbb; /* Placeholder text color */
  font-style: italic;
  text-align: center;
}