@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";

#player_stats {
  .player-stat-screen {
    height: 85%;
    position: relative;
    transform: translateY(100vh);
    animation: slide-up-bounce 1s ease-out forwards;
  }
  
  .player-info {
    background: linear-gradient($dark-blood-color, transparent 100%);
  }

  .player-info-grid {
    border-top: transparent !important;
    border-left: transparent !important;
    border-bottom: transparent !important;
  }

  .player-stat {
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
  }

  .total-text,
  .standard-text,
  .blessed-text, 
  .bloodstained-text, 
  .charred-text, 
  .exhumed-text, 
  .fleshwoven-text {
    animation: quiver 3s infinite ease-in-out;
  }


  .blessed-text, 
  .bloodstained-text, 
  .charred-text, 
  .exhumed-text, 
  .fleshwoven-text { 
    color: transparent;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  
  .blessed-text {
    background: repeating-linear-gradient(
      45deg,
      $dark-gold-color,
      $light-gold-color 6px,
      $dark-gold-color 5px,
      $light-gold-color 9px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .bloodstained-text {
    background: repeating-linear-gradient(
      45deg,
      $shadow-blood,
      $light-blood-color 6px,
      $shadow-blood 5px,
      $light-blood-color 7px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .charred-text {
    background: repeating-linear-gradient(
      45deg,
      $ashen-gray,
      $ember-orange 6px,
      $shadow-fire 5px,
      $ember-orange 8px,
      $ashen-gray 7px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .exhumed-text {
    background: repeating-linear-gradient(
      45deg,
      #FFF,
      $eerie-green 6px,
      #FFF 5px,
      $eerie-green 8px,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .fleshwoven-text {
    background: repeating-linear-gradient(
      45deg,
      $skin-tone,
      $shadow-artery 6px,
      $skin-tone 5px,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .deck-type-container {
    cursor: pointer;
    
    &:hover {
      .hover-info {
        display: block;
        z-index: 1;
      }
    }
  }

  .redacted {
    position: relative;
    height: 25px;
    color: transparent;
    overflow: hidden;
  }

  .redacted-animation {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .question-mark {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    animation: float 5s infinite;
    position: relative;
  }

  .question-mark:nth-child(2) {
    animation-delay: 2.5s;
  }

  .question-mark:nth-child(4) {
    animation-delay: 2.5s;
  }

  .link-buttons {
    .home-buttons {
      padding: 12px 24px;
      display: block;
      width: 100%;
    }
  }

  .header-buttons {
    .home-buttons {
      flex-wrap: wrap;
      margin: 0 3px;
      padding: 12px 16px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}