@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";
@import "@stylesheets/animations.scss";

#player_stats {
  .player-stat-screen {
    height: 85%;
    transform: translateY(100vh);
    animation: slide-up-bounce 1s ease-out forwards;
  }

  .player-stat {
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
  }

  .Total-text,
  .Standard-text,
  .Blessed-text, 
  .Bloodstained-text, 
  .Charred-text, 
  .Exhumed-text, 
  .Fleshwoven-text {
    animation: float 3s infinite ease-in-out;
  }

  .Blessed-text, 
  .Bloodstained-text, 
  .Charred-text, 
  .Exhumed-text, 
  .Fleshwoven-text { 
    color: transparent;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }

  .Blessed-text {
    background: repeating-linear-gradient(
      45deg,
      $dark-gold-color,
      $light-gold-color 6px,
      $dark-gold-color 5px,
      $light-gold-color 9px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Bloodstained-text {
    background: repeating-linear-gradient(
      45deg,
      $shadow-blood,
      $light-blood-color 6px,
      $shadow-blood 5px,
      $light-blood-color 7px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Charred-text {
    background: repeating-linear-gradient(
      45deg,
      $ashen-gray,
      $ember-orange 6px,
      $shadow-fire 5px,
      $ember-orange 8px,
      $ashen-gray 7px
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Exhumed-text {
    background: repeating-linear-gradient(
      45deg,
      #FFF,
      $eerie-green 6px,
      #FFF 5px,
      $eerie-green 8px,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Fleshwoven-text {
    background: repeating-linear-gradient(
      45deg,
      $skin-tone,
      $shadow-artery 6px,
      $skin-tone 5px,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .deck-type-container {
    cursor: pointer;
  }

  .redacted {
    height: 25px;
    color: transparent;
  }

  .redacted-animation {
    gap: 8px;
  }

  .question-mark {
    font: 18px;
    font-weight: bold;
    color: #CCC;
    position: relative;
    animation: float 5s infinite;
  }

  .question-mark:nth-child(2) {
    animation-delay: 2.5s;
  }

  .question-mark:nth-child(4) {
    animation-delay: 2.5s;
  }

  .link-buttons {
    .home-buttons {
      padding: 12px 24px;
      display: block;
      width: 100%;
    }
  }

  .header-buttons, .deck-buttons {
    .home-buttons, .link-buttons {
      flex: wrap;
      margin: 0 3px;
      padding: 12px 16px;
    }
  }

  .header-buttons {
    .home-buttons, .link-buttons {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .home-buttons {
      &:first-child, &:last-child {
        background-image: linear-gradient(45deg, $light-gold-color, $dark-gold-color);
        &:hover {
          background-image: linear-gradient(45deg, $light-blood-color, $dark-blood-color);
        }
      }
    }
  }

  .deck-saved-message {
    animation: fade-out 5s ease-in;
  }

  .deck-buttons-container, deck-saved-message-container {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
  }

  .deck-buttons {
    .home-buttons, .link-buttons {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .home-buttons {
      &:first-child {
        background-image: linear-gradient(45deg, $light-gold-color, $dark-gold-color);
        &:hover {
          background-image: linear-gradient(45deg, $light-blood-color, $dark-blood-color);
        }
      }
    }
  }

  .filter-checkbox-container {
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    color: $light-gold-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  .filter-checkmark {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid $light-gold-color;
  }

  .filter-checkbox-container input:checked ~ .filter-checkmark {
    background-color: $light-blood-color;
  }

  .filter-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .filter-checkbox-container input:checked ~ .filter-checkmark:after {
    display: block;
  }

  @media (max-width: 400px) {
    .deck-buttons {
      .home-buttons, .link-buttons {
        flex-wrap: wrap;
        padding: 6px 8px;
      }
    }
  }
}