@import "@stylesheets/globals.scss";

.widget-container {
  border-bottom: transparent;
  background: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0) 80%, 
    transparent 100%
    ),
  repeating-linear-gradient(
    45deg,
    black,
    $dark-blood-color 6px,
    black 5px, 
    $dark-blood-color 9px
  ),
  linear-gradient(
    black, white
  ),;
  background-blend-mode: multiply;
}

.grecaptcha-badge {
  visibility: hidden !important;
}