@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";
@import "@stylesheets/animations.scss";

.loading-line-container {
  height: 40px;

  .loading-text {
    font-size: 20px;
    opacity: 0;
    animation: float 5s infinite, fade-in 2s ease-in-out forwards;
  }
}