@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";
@import "@stylesheets/animations.scss";

.loading-line-container {
  height: 40px;
  opacity: 0;
  animation: fade-in 10s ease-in-out forwards;

  .loading-text {
    font-size: 20px;
    animation: float 5s infinite;
  }
}