@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes glitch-flicker {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, -2px);
    opacity: 0.8;
  }

  60% {
    transform: translate(-2px, -2px);
    opacity: 0.5;
  }

  80% {
    transform: translate(2px, 2px);
    opacity: 0.7;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes slide-up-bounce {
  0% {
    transform: translateY(100vh);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes expand-circle {
  0% {
    transform: scale(0.5);
  }

  10% {
    opacity: 1;
  }

  10% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}