@import "@stylesheets/variables.scss";

//Prevents highlighting except for text areas
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

//Scrollbar
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;

  &:hover {
    background-color: $dark-blood-color;
  }

  &:active {
    background-color: $light-blood-color;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

//Borders

.intricate-border {
  position: relative;
  border: 3px solid $light-blood-color;
}

.textured-red-border {
  border-image: repeating-linear-gradient(
    45deg,
    $dark-blood-color,
    $light-blood-color 6px,
    $dark-blood-color 5px,
    $light-blood-color 9px
  ) 10;
}

.textured-gray-border {
  border-image: repeating-linear-gradient(
    45deg,
    #4C4C4C,
    #7A7A7A 6px,
    #4C4C4C 5px,
    #7A7A7A 9px
  ) 10;
}