//General Themes
$light-blood-color: #9C1C1C;
$dark-blood-color: #5A0B0B;
$light-gold-color: #F2A900;
$dark-gold-color: #9B4D00;

//Blessed Card Theme
$shadow-gold: rgba(255, 215, 0, 0.6);

//Bloodstained-card 
$shadow-blood: rgba(156, 28, 28, 0.6);

//Charred Card Theme
$ashen-gray: #4B4B4B;
$ember-orange: #FF5700;
$shadow-fire: #7B2E2F;


//Exhumed Card Theme
$mystic-black: #0A0A0A;
$eerie-green: #3E6B48;
$shadow-mist: rgba(62, 107, 72, 0.8);

//Fleshwoven Card Theme
$skin-tone: #C2877C;
$vein-blue: #5A6870;
$shadow-artery: rgba(123, 46, 47, 0.6)