@import "@stylesheets/variables.scss";
@import "@stylesheets/globals.scss";
@import "@stylesheets/animations.scss";

.card-container {
  width: 9.375rem;
  height: 13.75rem;
  border-radius: 0.75rem;
  perspective: 62.5rem;
  cursor: pointer;

  &.black
  .card-suit,
  &.black
  .card-rank,
  &.black
  .card-value {
    color: #000;
  }
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  background: linear-gradient(135deg, #FFFFFF, #EAEAEA);
  border: 0.125rem solid #000;
  border-radius: 0.625rem;
  
  &:hover {
    transform: translateY(-1.25rem) scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0.625rem;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.Blessed-card {
    background: linear-gradient(135deg, $light-gold-color, $dark-gold-color);
    border: 0.1875rem solid $light-gold-color;
    box-shadow: 0 0.25rem 0.625rem $shadow-gold;
    .card-suit, .card-rank, .card-value {
      color: #FFFFFF !important;
    }
  }

  &.Bloodstained-card {
    background: radial-gradient(circle, $light-blood-color, $dark-blood-color);
    border: 0.1875rem solid $dark-blood-color;
    box-shadow: 0 0.25rem 0.625rem $shadow-blood;
    .card-suit, .card-rank, .card-value {
      color: #E8E4D9 !important;
    }
  }

  &.Charred-card {
    background: linear-gradient(135deg, $ashen-gray, $ember-orange);
    border: 0.1875rem solid $shadow-fire;
    box-shadow: 0 0.25rem 0.625rem rgba(255, 87, 0, 0.6);
    .card-suit, .card-rank, .card-value {
      color: #EAEAEA !important;
    }
  }

  &.Exhumed-card {
    background: linear-gradient(135deg, $mystic-black, $eerie-green);
    border: 0.1875rem solid $eerie-green;
    box-shadow: 0 0.25rem 0.9375rem $shadow-mist;
    .card-suit, .card-rank, .card-value {
      color: #D1D1D1 !important;
    }
  }

  &.Fleshwoven-card {
    background: linear-gradient(135deg, $skin-tone, $shadow-fire);
    border: 0.1875rem solid $vein-blue;
    box-shadow: 0 0.25rem 0.625rem $shadow-artery;
    .card-suit, .card-rank, .card-value {
      color: #EFE2D9 !important;
    }
  }
}

.card-back {
  transform: rotateY(180deg);
}

.card-header .card-suit, .card-footer .card-suit {
  font-size: 1.25rem;
}

.card-header, .card-footer {
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
  color: $light-blood-color;
}

.card-content {
  font-size: 3.125rem;
  color: $light-blood-color;
}

.face-down {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    $dark-blood-color,
    $light-blood-color 0.375rem,
    $dark-blood-color 0.3125rem,
    $light-blood-color 0.5625rem
  );
}

.overlap-cards {
  opacity: 0;
  margin-left: -3.75rem;
  transition: z-index 0.3s ease;
  transform: translateX(3.125rem);
  animation: stack-animation 0.05s ease forwards;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    z-index: 1;
  } 

  &:active {
    opacity: 1;

    .card {
      opacity: 1;
      cursor: grabbing;
      transform: scale(1.05);
    }
  }
}

.card-stack {
  min-height: 50vh;
}

@media (max-width: 62.5rem) {
  .card-stack {
    // min-height: 10.9375rem;
  }

  .card-container {
    width: 4.6875rem;
    height: 6.875rem;
  }

  .card-face {
    padding: 0.375rem;
  }

  .card-header .card-suit, .card-footer .card-suit {
    font-size: 0.625rem;
  }

  .card-header, .card-footer {
    font-size: 0.5625rem;
  }
  
  .card-content {
    font-size: 1.25rem;
  }

  .overlap-cards {
    margin-left: -1.5625rem;
  }
}
