@import "@stylesheets/variables.scss";

.text-field {
  font-size: 1rem;
  border: 0.125rem solid $light-blood-color;
  border-radius: 0.5rem;
  background-color: $dark-blood-color;
  color: #FFFFFF;
  padding: 0 0.625rem;
  transition: all 0.3s ease;
}

.text-field:focus {
  outline: none;
  border-color: $light-gold-color;
  box-shadow: 0 0 0.5rem $dark-gold-color;
  background-color: $light-blood-color;
}

.text-field::placeholder {
  color: #aaa;
  font-style: italic;
  text-align: center;
}
